<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css">
  <script src="javaScript.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



  <title>Landia</title>

  <style>
    .form-control {
      width: 300px;
      display: flex;
      margin: 0 auto;

    };

    #pai div {
      display: none;
    };





   
  </style>

</head>
<div class="container-fluid">
<h2 style="color: white;">E.E Professora Landia Santos Batista</h2>
</div>



<body style="background-color: rgb(121, 252, 116);">

<h1 style="font-size: 50px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">CONTROLE DE PONTUALIDADE ESCOLAR - CPE</h1>

<br>
<div>
  <h1>Você chegou após o horário estabelecido!</h1>
<h1 style="color: red;">CUIDADO COM OS ATRASOS!</h1>
</div>


  
<footer>
  <div class="rodape">
      <div><br><small>copyright<i class="fa fa-copyright">2025</i></small></div>
      <div><small>Rua Professor Engenheiro Claudio Abraão, 210 - Ferraz de Vasconcelos-SP</small><br><small>conheça a nossa <a href="">Política de privacidade</a></small></div>
      <div><a>EE PROFESSORA LANDIA SANTOS BATISTA</a></div>
  </div>
</footer>



  





















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"></script>

</body>

</html>